footer {
  background: url("../img/bg_footer.png"), rgb(23, 23, 23);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 54px;
  color: rgb(255, 255, 255);
  padding-top: 300px;
}

@media (max-width: 850px) {
  footer {
    margin-top: 24px;
    padding-top: 200px;
  }
}

@media (max-width: 480px) {
  footer {
    padding-top: 100px;
  }
}

.footer_container {
  position: relative;
}

.footer_links {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 850px) {
  .footer_links {
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
  }
}

.footer_col {
  padding: 16px;
}

@media (max-width: 850px) {
  .footer_col {
    min-width: 42%;
    padding: 16px;
    text-align: center;
    font-size: 1.1em;
  }
}

.footer_list {
  list-style: none;
  padding: 0;
}

.footer_list a {
  color: rgb(224, 220, 220);
  text-decoration: none;
  line-height: 24px;
}

.footer_list a:hover {
  text-decoration: underline;
}

.footer_title {
  text-transform: uppercase;
  font-weight: 700;
  padding: 16px 0;
}

.icon_social {
  margin: 16px 8px;
}

.icon-footer {
  position: relative;
  top: 3px;
  margin-right: 12px;
}

.logo_iai {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}
