/* ================== HOTSPOT ================== */

.hotspot {
  margin-top: 48px;
}

.hotspot_title {
  display: flex;
  align-items: center;
}

.hotspot_items {
  display: flex;
  justify-content: space-between;
  padding: 44px 24px;
}

@media (max-width: 1250px) {
  .hotspot_items {
    width: 100%;
    flex-wrap: wrap;
    padding: 0;
  }
}

.hotspot_item {
  display: flex;
  align-items: center;
  margin-right: 40px;
  padding-left: 24px;
  cursor: pointer;
  transition: box-shadow 0.35s ease-in;
}

@media (max-width: 1250px) {
  .hotspot_item {
    max-width: 40%;
    margin: 24px 12px;
    padding-left: 0;
  }
}

@media (max-width: 675px) {
  .hotspot_item {
    min-width: 90%;
  }
}

@media (max-width: 480px) {
  .hotspot_item {
    min-width: 90%;
  }
}

.hotspot_item:hover {
  box-shadow: 0px 4px 0px 0px var(--accent-color);
}

.hotspot_item:last-of-type {
  margin-right: 0;
}

.hotspot_text {
  margin-left: 36px;
}
