.hotspot {
  margin-top: 64px;
}

.hotspot_title {
  display: flex;
  align-items: center;
}

.hotspot_items {
  display: flex;
  justify-content: space-between;
  padding: 44px 24px;
}

.hotspot_item {
  display: flex;
  align-items: center;
  margin-right: 40px;
  padding-left: 24px;
  cursor: pointer;
  transition: box-shadow 0.35s ease-in;
}

.hotspot_item:hover {
  box-shadow: 0px 4px 0px 0px rgb(212, 11, 11);
}

.hotspot_item:last-of-type {
  margin-right: 0;
}

.hotspot_text {
  margin-left: 36px;
}
