/* ================== PROJECTOR CONTAINER ================== */

.projector_container {
  display: flex;
  padding: 28px 0;
}

@media (max-width: 1250px) {
  .projector_container {
    flex-direction: column;
  }
}

/* ================== LEFTSIDE ================== */

.leftside {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

@media (max-width: 675px) {
  .leftside {
    flex-direction: column-reverse;
  }
}

.leftside_carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 82px;
}

@media (max-width: 675px) {
  .leftside_carousel {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
}

.leftside_carousel-button {
  background: none;
  cursor: pointer;
}

@media (max-width: 675px) {
  .leftside_carousel-button {
    display: none;
  }
}

.carousel-item {
  width: 80px;
  height: 80px;
  margin: 6px 4px;
  border: 1px solid #eee;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease-in;
}

.carousel-item:hover,
.carousel-item-active {
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 3px 0px 0px var(--accent-color);
}

.leftside_img {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 30px;
  margin-top: 5px;
}

@media (max-width: 675px) {
  .leftside_img {
    margin: 24px 0;
  }

  .leftside_img img {
    width: 100%;
  }
}

.leftside_img-badge {
  background: var(--accent-color);
  color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  right: 0;
  font-size: 8.88px;
  font-weight: 700;
  padding: 6px 6px 6px 16px;
  clip-path: polygon(14% 0, 100% 0%, 100% 100%, 14% 100%, 0% 50%);
}

/* ================== RIGHTSIDE ================== */

.rightside {
  margin: 0 0 0 16px;
  width: 40%;
}

@media (max-width: 1250px) {
  .rightside {
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
  }
}

.rightside_title {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  width: 85%;
}

.topside_info {
  display: none;
}

@media (max-width: 1250px) {
  .rightside_info {
    display: none;
  }

  .rightside_title {
    width: 100%;
  }

  .topside_info {
    display: block;
    margin: 24px auto;
  }
}

.rightside_text {
  font-size: 11px;
  margin: 7px 0;
}

.rightside_text--red {
  color: var(--accent-color);
  text-decoration: none;
}

.rightside_text--red:hover {
  text-decoration: underline;
}

.rightside_text--small {
  font-size: 10px;
}

.rightside_text--bold {
  font-weight: 700;
}

.rightside_text--strikethrough {
  font-size: 14px;
  color: #aaa;
  text-decoration: line-through;
}

.rightside_text--big {
  font-size: 30px;
}

/* ================== rightside color ================== */

.rightside_carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1250px) {
  .rightside_color {
    margin-top: 32px;
    text-align: center;
  }

  .rightside_carousel {
    justify-content: center;
  }

  .rightside_carousel .carousel-item {
    margin-right: 24px;
  }
}

@media (max-width: 675px) {
  .rightside_color {
    text-align: center;
  }

  .rightside_carousel {
    justify-content: center;
    flex-wrap: wrap;
  }

  .rightside_carousel .carousel-item {
    margin-right: 4px;
  }
}

.rightside_carousel .carousel-item {
  width: 60px;
  height: 60px;
}

/* ================== rightside options ================== */

.rightside_options {
  display: flex;
}

@media (max-width: 480px) {
  .rightside_options {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.rightside_options-item {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 480px) {
  .rightside_options-item {
    width: 95%;
  }
}

.rightside_options-item:first-of-type {
  margin-right: 20px;
}

@media (max-width: 480px) {
  .rightside_options-item:first-of-type {
    margin-right: 0;
  }
}

.rightside_options-item select {
  padding: 16px 10px;
  border: 1px solid #eee;
  font-weight: 700;
  font-size: 11px;
}

/* ================== rightside row ================== */

.rightside_row {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 545px) {
  .rightside_row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .rightside_row-item {
    padding: 12px;
  }
}

/* ================== rightside availability ================== */

.rightside_availability {
  display: flex;
  align-items: center;
}

.rightside_avaliability-icon {
  width: 30px;
  height: 30px;
  background: rgb(141, 198, 63);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

/* ================== rightside price ================== */

.rightside_amount form {
  width: auto;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #ccc;
}

.amount-button {
  display: inline-block;
  margin: 0px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.amount-button:hover {
  cursor: pointer;
}

form #minus-item {
  margin-right: -4px;
}

form #plus-item {
  margin-left: -4px;
}

input#items {
  text-align: center;
  border: none;
  margin: 0px;
  width: 40px;
  height: 60px;
  font-size: 16px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.rightside_negotiate {
  display: flex;
  align-items: center;
}

/* ================== rightside benefits ================== */

.rightside_benefits {
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.rightside_benefits::after {
  content: "";
  position: absolute;
  left: 88%;
  top: -7.5%;
  width: 16px;
  height: 16px;
  border-left: 1px solid #ccc;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-top: 1px solid #ccc;
  background: rgb(255, 255, 255);
  transform: rotate(45deg);
  clear: both;
}

@media (max-width: 480px) {
  .rightside_benefits {
    justify-content: center;
  }
  .rightside_benefits::after {
    content: none;
  }
}

.benefit {
  display: flex;
  align-items: center;
  width: 47%;
  padding: 10px 5px;
}

@media (max-width: 480px) {
  .benefit {
    width: 80%;
  }
}

.benefit_icon {
  margin-right: 12px;
}

.benefit_text {
  font-size: 12px;
}
