@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import "top.css";
@import "projector.css";
@import "hotspot.css";
@import "description.css";
@import "tips.css";
@import "footer.css";

* {
  margin: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

@media (max-width: 1250px) {
  .container {
    width: 60%;
    margin: 0 auto;
  }
}

@media (max-width: 1050px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 850px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

.btn--dark {
  background: rgb(46, 46, 46);
  color: rgb(255, 255, 255);
  padding: 17px 20px;
  cursor: pointer;
  transition: all 0.25s ease-in;
}

.btn--dark:hover {
  background: rgb(212, 11, 11);
}

.btn--big {
  background: rgb(212, 11, 11) url("../img/bg_button_red-paint.png");
  background-position: center;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  padding: 24px 20px;
  cursor: pointer;
  transition: box-shadow 0.25s ease-in;
}

.btn--big:hover,
.btn--medium:hover,
.btn--transparent:hover {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
}

.btn--medium {
  background: rgb(212, 11, 11) url("../img/bg_button_red-paint.png");
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  padding: 16px 20px;
  cursor: pointer;
  transition: box-shadow 0.25s ease-in;
}

.btn--transparent {
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 11px;
  padding: 8px 28px;
  margin-top: 12px;
  cursor: pointer;
  transition: box-shadow 0.25s ease-in;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.text--big {
  font-size: 16px;
  font-weight: 700;
}

.text--semi {
  font-size: 15px;
  font-weight: 700;
}

.text--medium {
  font-size: 13px;
}

.text--small {
  font-size: 11px;
  font-weight: 200;
}

.text--bold {
  font-weight: 700;
}

.text--upper {
  text-transform: uppercase;
}

.text--title {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}

.icon-right {
  margin-right: 12px;
}

.section_title {
  display: flex;
  align-items: center;
  margin: 24px 0;
}
