@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import "top.css";
@import "projector.css";

* {
  margin: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.btn--dark {
  background: rgb(46, 46, 46);
  color: rgb(251, 251, 251);
  padding: 17px 20px;
}
