.tips {
  margin-top: 64px;
}

.tips_posts {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1250px) {
  .tips_posts {
    flex-direction: column;
  }
}

.tips_post {
  width: 48%;
}

@media (max-width: 1250px) {
  .tips_post {
    width: 100%;
    margin: 24px 0;
  }
}

.post_link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.post_link:hover {
  color: rgb(212, 11, 11);
}

.post_body {
  display: flex;
  align-items: center;
  margin: 8px 0;
  line-height: 20px;
}

.post_body img {
  width: 90%;
}

@media (max-width: 675px) {
  .post_body {
    flex-direction: column;
    align-items: flex-start;
  }

  .post_body img {
    width: 70%;
  }
}

.post_text {
  padding: 24px;
}

@media (max-width: 675px) {
  .post_text {
    padding: 16px 0;
  }
}
