/* TOP LINKS */

.top-links {
  background: rgb(46, 46, 46);
}

@media (max-width: 675px) {
  .top-links {
    display: none;
  }
}

.top-links_list {
  list-style: none;
  display: flex;
  padding: 0;
}

.top-links_list-item {
  margin: 12px 40px 12px 0;
  color: rgb(251, 251, 251);
  font-size: 11px;
}

.top-links_list-item a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.top-links_list-item-icon {
  margin-right: 6px;
}

/* HEADER */

.header {
  background: rgb(234, 234, 234) url("../img/bg_header.png");
  padding: 28px 0 22px 0;
}

.header--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 985px;
}

.header_logo {
  margin: 0 28px 0 0;
}

@media (max-width: 380px) {
  .header_logo img {
    width: 200px;
  }
}

.header_search-input {
  padding: 17px;
  margin: 0;
  min-width: 300px;
}

.header_links {
  font-weight: 700;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 1250px) {
  .header_links {
    display: none;
  }
}

.header_links--medium {
  font-size: 17px;
}

.lang_dropdown {
  position: relative;
}

.lang_menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 60px;
  position: relative;
  padding: 8px 0;
}

.lang_submenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  /* top: 24px; */
  list-style: none;
  padding: 0;
  background: rgb(255, 255, 255);
  box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.082);
  z-index: 1000;
  /* make the submenu smooth on hover */
  transition: opacity 0.35s ease-in;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.lang_submenu-item {
  padding: 8px 16px;
  min-width: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.lang_submenu-item:hover {
  background: rgb(241, 241, 241);
}

.lang_dropdown:hover .lang_submenu {
  /* display: block; */
  opacity: 1;
  height: auto;
}

.header_links-basket {
  display: flex;
  align-items: center;
  color: rgb(251, 251, 251);
  padding: 0 15px;
  position: relative;
  min-height: 5px;
  min-width: 80px;
  z-index: 100;
}

.header_links-basket::after {
  content: "";
  position: absolute;
  background: url("../img/bg_red-paint.png");
  background-size: cover;
  background-position: center;
  height: 165px;
  top: -75px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.header_links-basket_item {
  margin: 0 10px 0 0;
}

.header_links-basket_item a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.header_links-account,
.header_links-lang {
  margin: 0 20px 0 0;
}

.header_link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.header_link:hover {
  color: rgb(212, 11, 11);
}

/* NAVIGATION */

.nav_list {
  list-style: none;
  display: flex;
  padding: 0;
}

@media (max-width: 1250px) {
  .nav_list {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2500;
  }
  .nav_list {
    display: none;
  }
}

.nav_list-item {
  position: relative;
  padding: 0 1em 0 0;
}

@media (max-width: 1250px) {
  .nav_list-item {
    text-align: center;
    padding: 0;
  }
}

.nav_list-item a {
  color: #000;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  margin: 13px 50px 13px 0;
  padding: 13px 0;
  display: flex;
  align-items: center;
}

@media (max-width: 1250px) {
  .nav_list-item a {
    font-size: 19px;
    margin: 13px 0;
  }
}

.nav_list-item a:hover {
  box-shadow: 0px 2px 0px 0px rgb(212, 11, 11);
}

@media (max-width: 1250px) {
  .nav_list-item a:hover {
    box-shadow: none;
    color: rgb(212, 11, 11);
  }
}

.nav_list-item-icon {
  margin-left: 10px;
}

@media (max-width: 1250px) {
  .nav_list-item-icon {
    display: none !important;
  }
}

.submenu {
  /* display: none; */
  position: absolute;
  left: -5px;
  list-style: none;
  padding: 0;
  min-width: 100%;
  background: rgb(255, 255, 255);
  box-shadow: 0px 16px 8px 0px rgba(0, 0, 0, 0.082);
  z-index: 1000;
  /* make the submenu smooth on hover */
  transition: opacity 0.35s ease-in;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

@media (max-width: 1250px) {
  .submenu {
    display: none;
  }
}

.dropdown:hover .submenu {
  /* display: block; */
  opacity: 1;
  height: auto;
}

.submenu-item a:hover {
  color: rgb(212, 11, 11);
  font-weight: 700;
  box-shadow: none;
}

.submenu-item a {
  font-size: 11px;
  font-weight: 200;
  margin: 0;
  padding: 12px 24px;
  min-width: 150px;
}

@media (max-width: 1250px) {
  .submenu-item a {
    font-size: 13px;
    /* color: rgb(255, 255, 255); */
  }
}

.mobile_menu {
  display: none;
}

.mobile_lang-menu {
  display: none;
}

@media (max-width: 1250px) {
  .mobile_menu {
    display: block;
    position: relative;
    z-index: 5000;
  }

  .mobile_lang-menu {
    display: block;
  }

  .mobile_lang-item {
    display: inline-block;
    margin: 24px 4px;
    text-decoration: none;
  }

  .header_search,
  .header_links-account,
  .header_links-basket,
  .breadcrumbs,
  .nav_list-item-icon {
    display: none;
  }
}

.show-menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 128px 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.945);
}

/* BREADCRUMBS */

.breadcrumbs {
  background: rgb(234, 234, 234) url("../img/bg_header.png");
  background-position: center top;
  font-size: 12px;
}

.breadcrumbs_link {
  margin: 12px;
  display: inline-block;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.breadcrumbs_link:first-of-type {
  margin-left: 0;
}

.breadcrumbs_link--active {
  font-weight: 700;
}
